@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');


:root {
	--pictureSecOverlay: rgba(0, 0, 0, 0.486);
    --text-shadow-color: #967070;
}

body {
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    background-image: url(/images/landing-image.jpg);
    background-position: center;
	background-size: cover;
    background-blend-mode: soft-light; 
	background-color: var(--pictureSecOverlay);
    color: rgb(255, 255, 255);
	font-family: 'Arvo', serif;
}

h1 {
    font-size: 5em;
    margin: 0;
    text-shadow: 3px 3px var(--text-shadow-color);
}

h2 {
    font-size: 1.5em;
    text-shadow: 2px 2px var(--text-shadow-color);
}

h3 {
    margin-top: 5%;
    color: rgb(255, 255, 255);
}

h3 a {
    color: rgb(255, 238, 212);
}